[project]
name = "alx-backend-python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "aiosqlite>=0.21.0",
    "mysql-connector-python>=9.5.0",
    "python-dotenv>=1.2.1",
]
