name: Entrypoint CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  messaging-app-ci:
    uses: ./.github/workflows/messaging_app/messaging_app/ci.yml@<commit-sha>
